#root {    
  text-align: center;
  padding: 20px 40px;
  display: flex;    
  align-items: center;
  flex-direction: column;
  color: #000;
}
  
  #img-logo {
    width: 150px;  
  }
  
  .desc {
    color: #777;
    margin: 10px 0px 15px;
    font-style: italic;
    font-size: 15px;
  }