/* Header */

.header {
    width: 100vw;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-left: 50%;
    transform: translateX(-50%);
}

.navbar {
    height: 40px;
    width: 100vw;
    background-color: var(--background-color-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu {
    margin-left: 10px;
    font-size: 18px;
}

#logo {
    height: 100%;
}

.user-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    width: 50px;
}

.icon-search {
    font-size: 20px;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}


.avatar img {
    height: 70%;
    border-radius: 50%;
}

/* overplay */

a {
    text-decoration: none;
    color: #000;
}

.overplay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.overplay.active {
    display: block;
}

.menu-user {
    background-color: #fff;
    width: 80vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    bottom: 0;
    height: 100vh;
    transform: translateX(-100%);
}

.menu-user.active {
    animation: openMenu 1s ease;
    transform: translateX(0%);
}

.menu-user.closed {
    animation: closeMenu 1s ease;
}

@keyframes openMenu {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes closeMenu {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.ti-close {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
}

.control-user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #ccc;
}

.avatar.control-user-avatar {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.control-user-action {
    margin: 10px;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}
