<link rel="stylesheet" href="/css/auth/auth.css">
  
<div class="form">
    <div class="form-group">
        <div class="input-container">
            <input required id="Email" name="Email" type="text" />        
            <label class="label" for="Email">Email</label>
            <div class="underline"></div>
        </div>        
    </div>
    <div class="form-group">
        <div class="input-container">            
            <input required id="Pin" name="Pin" type="number" />
            <label class="label" for="Pin">Mã xác nhận</label>
            <div class="underline"></div>            
        </div>        
        <button id="btn-send-pin" class="btn-form">Gửi Mã</button>
    </div>
    <button type="submit" id="btn-submit" class="btn-form">Đăng Nhập</button>
</div>

<script src="/js/auth/login.js"></script>