/* #region [ Layout ] */
#root {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #endregion */

/* #region [ Credential ] */
img {
    width: 200px;
    margin-bottom: 50px;
    -ms-touch-action: none;
    touch-action: none;
    display: block;
}

.message {
    text-align: center;
    font-size: 18px;
    color: red;
    max-width: 210px;
    margin: 0 auto;
    text-transform: capitalize;
}
/* #endregion */

/* #region [ Wrapper Num ] */

.wrapper-num {
    display: flex;
    margin-top: 10px;
}

.input-num {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    outline: none;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    margin: 5px;
    border: 1px solid #555;
}

/* #endregion */

/* #region [ Overlay ] */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);  
    justify-content: center;
    align-items: center;
    display: none;
}

.overlay.active {
    display: flex;
}

.overlay .box {   
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* #endregion */

/* #region [ Loading ] */
#loading {
    margin-top: 8px;
    --size: 40px;
    --border-size: 8px;
    border: var(--border-size) solid rgb(223, 223, 223);
    border-top: var(--border-size) solid rgb(8, 153, 8); 
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg)}
}
/* #endregion */